# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
*.manifest
*.spec

# Virtualenv
venv/
env/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
gattini_cafe.db
media/
staticfiles/

# Richieste REST (estensione)
RichiesteREST.txt

# VSCode
.vscode/

# Misc
.DS_Store
.env
*.env